@import url(//fonts.googleapis.com/earlyaccess/tharlon.css);


:root{
    --titel-color: #1A1A1A ;
    --background-titel: #F2F2F2;
    --border-line:solid #888888 ;
    --litel-titel-color:#49718D ;
    --simpel-titel : #7E7E7E;

    --p-color: #424242;

}



*{
    box-sizing: border-box;
    
}


body {
    font-family: 'Tharlon', sans-serif;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    margin: 0;




}
.p{
    font-size: 9px;
}

.Full-Name{
    font-family: 'Arimo Hebrew Subset';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    text-align: center;

    color:var(--titel-color);
}

.contener{
    margin: 7vw;

}
.flex{
    
    display: flex;
    align-items: baseline;
    align-content: stretch;
    flex-direction: row;
    justify-content:center;
    margin: 0px;
    padding: 0px8;
  }


  .big-line{
    color: #DFE2E7 ;
    
    border: 2px solid #DFE2E7;

  }
  .item {
    width: 207px;
    height: 24px;   
    margin: 0px -51px;
  }

  .item-1{
    width: 207PX;
    height: 24px;   
    margin: 0px -51px;
    color: #49718D  ;

  }
.normk-line{
    border: 1px solid #C2C4C3;

}


.litel-titel{
    background: #E1E9F4;
    margin: 2px;
    padding-left: 5px;
    padding-top:5px ;

}
.second-title{
    color:  #424242;
    justify-content: center;

}

.litel-titel h3 {
    color: #424242;

    justify-content: center;
    display: flex;
    padding: 3PX;
    margin: 0px;
    letter-spacing: 2px;
    font-size: 25px;
}
 h5 {
    margin: 3px;
    color:    #49718D;
}


.second-title h3 {
    color: #424242;

    justify-content: center;
    display: flex;
    padding: 3PX;
    margin: 0px;
    letter-spacing: 2px;
    font-size: 25px;
}

.flex-spse{
    display: flex;
    justify-content: space-between;
}

h4 {
    margin: 15px;
color: #424242 ;
   
}

h3{
    color:    #49718D;


}