 Rectangle 1

position: absolute;
width: 595px;
height: 838.76px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Full Name */


position: absolute;
width: 283.1px;
height: 23.51px;
left: 156px;
top: 44.15px;

font-family: 'Arimo Hebrew Subset';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #1A1A1A;



/* Line 1 */


position: absolute;
width: 525.42px;
height: 0px;
left: 34.55px;
top: 71.5px;

border: 2.87903px solid #DFE2E7;


/* Line 3 */


position: absolute;
width: 525.42px;
height: 0px;
left: 34.55px;
top: 259.42px;

border: 2.87903px solid #DFE2E7;


/* Line 2 */


position: absolute;
width: 525.42px;
height: 0px;
left: 34.55px;
top: 94.05px;

border: 1.43952px solid #C2C4C3;


/* Group 6 */


position: absolute;
width: 400.19px;
height: 23.99px;
left: 97.41px;
top: 97.92px;



/* Group 5 */


position: absolute;
width: 373px;
height: 14px;
left: 111px;
top: 75px;



/* Group 10 */


position: absolute;
width: 525.45px;
height: 121px;
left: 34.55px;
top: 119px;



/* Professional Experience & Milestones */


position: absolute;
width: 400.19px;
height: 23.99px;
left: 94.05px;
top: 261.73px;

font-family: 'Arimo Hebrew Subset';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 17px;
text-align: center;
text-transform: uppercase;

color: #424242;



/* Group 7 */


position: absolute;
width: 527px;
height: 157.71px;
left: 34px;
top: 301px;



/* Group 11 */


position: absolute;
width: 527px;
height: 137.07px;
left: 34px;
top: 492px;



/* Group 12 */


position: absolute;
width: 527px;
height: 137.07px;
left: 34px;
top: 662px;
