@import url(//fonts.googleapis.com/earlyaccess/tharlon.css);




*{
    box-sizing: border-box;
    
}


body {
    font-family: 'Tharlon', sans-serif;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    margin: 0;




}

.therd-litel-titel{
    background-color: #F2F2F2;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 20px;
    padding-left: 150PX;
    padding-right: 150PX;
   
   }


   
.therd-litel-titel h3{

    display: flex;
   justify-content: center;
   font-weight: bold;
   }
   
.therd-litel-titel p{

    display: flex;
    justify-content: center;

   
   }


h1{
    color:#1A2549 ;
}

h2{
    justify-content: center;
    color: var(--titel-color);
    display: flex;
    margin: 15px;
    letter-spacing: 2px;
    font-size: 30px;
    padding-bottom: 13px;
  }

h3{
    color:  #49718D;
    font-weight: normal;

}

h4 {
    margin: 15px;
    color: #49718D;
    padding-bottom:0px;

    
   
}

h5 {
    margin: 3px;
    color:   #1A1A1A;
    
}


.contener{
    margin: 7vw;

}


.Full-Name{
    font-family: 'Arimo Hebrew Subset';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    text-align: center;

}


.flex{
    
    display: flex;
    align-items: baseline;
    align-content: stretch;
    flex-direction: row;
    justify-content:center;
    margin: 0px;
    padding: 0px8;
  }


  .big-line{
    color:#1A1A1A ;
    border: 2px solid #1A1A1A;
    margin: 0px;

  }
  .item {
    width: 207px;
    height: 24px;   
    margin: 0px -51px;
  }

  .item-1{
    width: 207PX;
    height: 24px;   
    margin: 0px -51px;
    color: #49718D  ;

  }
.normk-line{
    border: 1px solid #84868A;
    margin: -1px;



}


.litel-titel{
    margin: 25px;
    padding-left: 5px;
    padding-top:5px ;

}
.second-title{
    color:  #424242;
    justify-content: center;

}

.litel-titel h3 {
    padding: 10px;
    padding-bottom: 9px;


    justify-content: center;
    display: flex;
    padding: 3PX;
    margin: 0px;
    letter-spacing: 2px;
    font-size: 25px;
}
 

.second-title h3 {
    
    justify-content: center;
    display: flex;
    padding: 10PX;
    margin: 0px;
    letter-spacing: 2px;
    font-size: 25px;
}

.flex-spse{
    display: flex;
    justify-content: space-between;
}

.flex-aro{
    display: flex;
    justify-content: space-around;
}

